<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/js/app.js}" defer></script>
    <title>メンバー一覧</title>
</head>
<body>
<div id="header" th:replace="~{layout :: header}"></div>
<div class="text-center"><h1>メンバー一覧</h1></div>
<div class="row">
    <div class="col-3">

    </div>

    <div class="col-6">
        <form method="get" th:method="get" th:action="@{/members/register}">
            <input type="submit" class="btn btn-primary" value="新規登録はこちら">
        </form>
        <table class="table">
            <tr>
                <th>メンバー名</th>
                <th>メンバー名(読み)</th>
                <th>年齢</th>
                <th>所属グループ名</th>
            </tr>
            <tr th:each="member: ${members}">
                <td th:text="${member.memberName}"></td>
                <td th:text="${member.memberHiraganaName}"></td>
                <td th:text="${member.getAge()}"></td>
                <td th:text="${member.artist.artistName}"></td>
            </tr>
        </table>
    </div>
</div>
<div id="footer" th:replace="~{layout :: footer}"></div>
</body>
</html>