<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/app.css}" rel="stylesheet" />
        <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" defer></script>
        <script th:src="@{/js/app.js}" defer></script>
        <title>アーティスト新規登録</title>
    </head>
</head>
<body>
<div id="header" th:replace="~{layout :: header}"></div>
<div class="text-center"><h1>アーティスト新規登録</h1></div>
<div class="row">
    <div class="col-3">
    </div>

    <div class="col-6 form-group" >
        <form th:action="@{/artists}" th:object="${artist}" th:method="post">
            <label class="col-form-label-sm">アーティスト名</label>
            <input type="text" class="form-control" th:field="*{artistName}">
            <label class="col-form-label-sm">アーティスト名(読み)</label>
            <input type="text" class="form-control" th:field="*{artistHiraganaName}">
            <label class="col-form-label-sm">公式HP</label>
            <input type="text" class="form-control" th:field="*{artistArtUrl}">

            <button type="submit" class="btn btn-primary mt-3">登録</button>


        </form>
    </div>
</div>
</body>
</html>